# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
lib/
var/
.installed.cfg

# Rope project settings
.ropeproject
special_defs.txt
tokens.txt
reminders.txt
*.log*
pedant_config.py
*.mp3
